kafka:
  security.protocol: SSL
  sedSendt:
    topic: ${KAFKA_SEDSENDT_TOPIC}
    groupid: eessi-pensjon-group
  sedMottatt:
    topic: ${KAFKA_SEDMOTTATT_TOPIC}
    groupid: eessi-pensjon-group
  oppgave:
    topic: ${KAFKA_OPPGAVE_TOPIC}
    groupid: eessi-pensjon-group
  krav:
    topic: ${KAFKA_KRAVINIT_TOPIC}
    groupid: eessi-pensjon-group

METRICS_REQUESTFILTER_ENABLE: true

no.nav.security.jwt:
  client:
    registration:
      common-auth: &auth
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      fagmodul-credentials:
        <<: *auth
        scope: api://${AZURE_APP_FAGMODUL_CLIENT_ID}/.default
      eux-credentials:
        <<: *auth
        scope: api://${AZURE_APP_EUX_CLIENT_ID}/.default
      pdl-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PDL_CLIENT_ID}/.default
      dokarkiv-credentials:
        <<: *auth
        scope: api://${AZURE_APP_DOKARKIV_CLIENT_ID}/.default
      navansatt-credentials:
        <<: *auth
        scope: api://${AZURE_APP_NAVANSATT_CLIENT_ID}/.default
      saf-credentials:
        <<: *auth
        scope: api://${AZURE_APP_SAF_CLIENT_ID}/.default
      etterlatte-credentials:
        <<: *auth
        scope: api://${AZURE_APP_ETTERLATTE_CLIENT_ID}/.default
      pensjon-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PEN_CLIENT_ID}/.default

management:
  endpoints:
    metrics.enabled: true
    web.exposure.include: '*'
    export.prometheus.enabled: true
    prometheus.enabled: true
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: false

