<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="INFO"/>
        <logger name="no.nav.security" level="ERROR"/>
        <logger name="no.nav.eessi" level="INFO"/>
        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerInterceptor" level="OFF"/>
        <logger name="no.nav.security.token.support.core.validation" level="ERROR"/>

        <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/secure-logs/secure.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>1</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>30MB</maxFileSize>
            </triggeringPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="secureLog" level="DEBUG" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerInterceptor" level="OFF" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>
        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerFilter" level="OFF" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.security" level="INFO"/>
        <logger name="no.nav.eessi" level="DEBUG"/>
        <logger name="no.nav.security.token.support.core.validation" level="ERROR"/>
        <logger name="org.springframework.web.client.RestTemplate" level="DEBUG"/>

        <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/secure-logs/secure.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>1</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>50MB</maxFileSize>
            </triggeringPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="secureLog" level="DEBUG" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerInterceptor" level="DEBUG" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>
        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerFilter" level="DEBUG" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

    </springProfile>

    <springProfile name="local, integrationtest">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.security" level="DEBUG"/>
        <logger name="no.nav.eessi" level="DEBUG"/>

    </springProfile>

</configuration>
